<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title>Labo 4 - PNC0120</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Ingreso de nuevo producto</h2>
                </div>
                <div class="card-body">
                    <form method="POST" th:action="@{formProducto}" th:object="${producto}">
                        <div class="form-row">
                            <div class="name">Nombre</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="nombre" th:field="*{nombre}">
                                    <span th:errors="*{nombre}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Descripción</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="descripcion" th:field="*{descripcion}">
                                    <span th:errors="*{descripcion}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Precio</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="existencias" th:field="*{precio}" id="precio">
                                    <span th:errors="*{precio}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">Fecha de vencimiento</div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="text" class="input--style-5" id="validationDefaultUsername" 
                                    name="fecha_ingreso" aria-describedby="inputGroupPrepend2" required th:field="*{vencimiento}">
                                    <span th:errors="*{vencimiento}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Ingresar producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body>

</html>
